<h1>Customers#show</h1>

<p>Find me in app/views/customers/show.html.erb</p>
name:<%=@customer.name%><br/><br>
address:<%=@customer.address%>

<p>Find me in app/views/customers/show.html.erb</p><br/><br/>
name :<%= @customer.name%><br/><br/>
address :<%= @customer.address %><br/><br/>

