name :<%= @customer.name%><br/><br/>
address :<%= @customer.address %><br/><br/>

<table id="orders" width="90%" border="1" style="margin-left: auto;margin-right: auto;">
  <thead>
    <tr>
      <th>
        Order Date
      </th>
      <th>
        Order ID
      </th>
    </tr>
  </thead>
  <tbody>
    <% (@customer.orders || []).each do |order|%>
      <tr>
        <td><%= order.order_date.strftime('%d %b, %Y') %></td>
        <td><%= order.order_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function(){
        $('#orders').DataTable();
    });
</script>